<body>

        <div class="container text-center">
                <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                                <div>
                                        <h3>ABOUT</h3>
                                        <p>This is simply a piss-take about your average INTERNET RECIPE blog
                                                post/Russian novel.</p>
                                        <p>The page will infintely scroll and you will never arrive at a recipe nor
                                                incredient list.</p>
                                        <p>AI was <b>not</b> used to generate any of the paragraphs. Took a bloody
                                                while, let me tell ya.</p>
                                        <p>That's not to say cooks that do all the work to create recipes and share them
                                                online don't deserve the page views or ad revenue, but
                                                sometimes I
                                                wouldn't mind the recipe to appear in the same manner as my old footy
                                                coach wanted the small
                                                forwards to position themselves when a long kick came into the forward
                                                fifty: <b>FRONT AND
                                                        CENTER!</b></p>
                                </div>
                        </div>
                        <div class="col-md-3"></div>
                </div>
                <br>
                <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                                <div>
                                        <h3>IMAGE CREDITS</h3>
                                        <p>Cheers to the following legends:</p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@danielcgold?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dan
                                                        Gold</a> on <a
                                                        href="https://unsplash.com/photos/macro-shot-of-vegetable-lot-4_jhDO54BYg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@annapelzer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Anna
                                                        Pelzer</a> on <a
                                                        href="https://unsplash.com/photos/bowl-of-vegetable-salads-IGfIGP5ONV0?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@jimmydean?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jimmy
                                                        Dean</a> on <a
                                                        href="https://unsplash.com/photos/assorted-fruits-on-brown-wooden-bowls-Yn0l7uwBrpw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@kate5oh3?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Katie
                                                        Smith</a> on <a
                                                        href="https://unsplash.com/photos/avocado-tomatoes-eggs-mushrooms-spring-onions-and-leaves-uQs1802D0CQ?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@eaterscollective?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Eaters
                                                        Collective</a> on <a
                                                        href="https://unsplash.com/photos/pasta-dish-on-white-plate-ddZYOtZUnBk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@rumanamin?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Rumman
                                                        Amin</a> on <a
                                                        href="https://unsplash.com/photos/cook-food-lot-LNn6O_Mt730?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@briewilly?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Chad
                                                        Montano</a> on <a
                                                        href="https://unsplash.com/photos/pizza-on-chopping-board-MqT0asuoIcU?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@eaterscollective?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Eaters
                                                        Collective</a> on <a
                                                        href="https://unsplash.com/photos/pesto-pasta-with-sliced-tomatoes-served-on-white-ceramic-plate-12eHC6FxPyg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@cant89?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Davide
                                                        Cantelli</a> on <a
                                                        href="https://unsplash.com/photos/sushi-in-the-plate-jpkfc5_d-DI?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@stri_khedonia?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Alice
                                                        Pasqual</a> on <a
                                                        href="https://unsplash.com/photos/selective-focus-photography-of-fork-with-noodle-ticuPP5l2qg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@pablomerchanm?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pablo
                                                        Merchán Montes</a> on <a
                                                        href="https://unsplash.com/photos/woman-holding-fork-in-front-table-Orz90t6o0e4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@pablomerchanm?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pablo
                                                        Merchán Montes</a> on <a
                                                        href="https://unsplash.com/photos/woman-holding-fork-in-front-table-Orz90t6o0e4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>
                                                Photo by <a
                                                        href="https://unsplash.com/@lvnatikk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Lily
                                                        Banse</a> on <a
                                                        href="https://unsplash.com/photos/cooked-dish-on-gray-bowl--YHSwy6uqvk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>

                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@mab_studio?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Michele
                                                        Blackwell</a> on <a
                                                        href="https://unsplash.com/photos/round-white-bowl-with-ramen-and-egg-rAyCBQTH7ws?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@luisabrimble?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Luisa
                                                        Brimble</a> on <a
                                                        href="https://unsplash.com/photos/sliced-tomato-and-green-leaf-vegetable-on-white-ceramic-plate-vIm26fn_QKg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                        <p>Photo by <a
                                                        href="https://unsplash.com/@pablomerchanm?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Pablo
                                                        Merchán Montes</a> on <a
                                                        href="https://unsplash.com/photos/woman-holding-fork-in-front-table-Orz90t6o0e4?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                                        </p>
                                </div>
                                <br>

                        </div>
                        <div class="col-md-3"></div>

                </div>
                <br>
                <div class="row">
                        <div class="col-md-3"></div>
                        <div class="col-md-6">
                                <div>
                                        <h3>CREDIT CREDITS</h3>
                                        <p>Nonna (RIP)</p>
                                        <p>Nanna (RIP)</p>
                                        <p>Mum and Dad (Not RIP)</p>
                                        <p><a href="https://www.recipetineats.com/" target="_blank">RecipeTin Eats</a>
                                                (Not RIP)</p>
                                </div>
                        </div>
                        <div class="col-md-3"></div>
                </div>

                <br><br>

        </div>

</body>