<body>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div>
                    <h3>ABOUT</h3>
                    <p>This is simply a piss-take about your average INTERNET RECIPE blog post/Russian novel.</p>
                    <p>That's not to say these cooks don't deserve the page views or ad revenue, but sometimes I wouldn't mind the recipe to appear in the same manner as my old footy coach wanted the small forwards to positon themselves when a long kick came into the forward fifty: <b>FRONT AND CENTER!</b></p>
                </div>
            </div>
            <div class="col-md-3"></div>
        </div>
        <br>
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <div>
                    <h3>Image Credits</h3>
                    <p>Cheers to the following legends:</p>
                    <p>Photo by <a
                            href="https://unsplash.com/@danielcgold?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Dan
                            Gold</a> on <a
                            href="https://unsplash.com/photos/macro-shot-of-vegetable-lot-4_jhDO54BYg?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    </p>
                    <p>Photo by <a
                            href="https://unsplash.com/@annapelzer?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Anna
                            Pelzer</a> on <a
                            href="https://unsplash.com/photos/bowl-of-vegetable-salads-IGfIGP5ONV0?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    </p>
                    <p>Photo by <a
                            href="https://unsplash.com/@jimmydean?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Jimmy
                            Dean</a> on <a
                            href="https://unsplash.com/photos/assorted-fruits-on-brown-wooden-bowls-Yn0l7uwBrpw?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    </p>
                    <p>Photo by <a
                            href="https://unsplash.com/@kate5oh3?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Katie
                            Smith</a> on <a
                            href="https://unsplash.com/photos/avocado-tomatoes-eggs-mushrooms-spring-onions-and-leaves-uQs1802D0CQ?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    </p>
                    <p>Photo by <a
                            href="https://unsplash.com/@eaterscollective?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Eaters
                            Collective</a> on <a
                            href="https://unsplash.com/photos/pasta-dish-on-white-plate-ddZYOtZUnBk?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    </p>
                    <p>Photo by <a
                            href="https://unsplash.com/@rumanamin?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Rumman
                            Amin</a> on <a
                            href="https://unsplash.com/photos/cook-food-lot-LNn6O_Mt730?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
                    </p>
                </div>
                <br>

            </div>
            <div class="col-md-3"></div>

        </div>

    </div>

</body>