/*General*/

* {
  font-family: 'Quicksand', Helvetica, sans-serif;
  font-size: 300;
  color: black;
}

@media screen and (max-width: 750px) {

    /*Home*/
    div#bio {
      margin-top: -210px;
    }

    div#bio-group {
      flex-direction: column;
      align-items: center;
    }

    div#bio-picture-wrapper {
      order: 1;
    }

    div#bio-text {
      order: 2;
      width: 50%;
      text-align: center;
    }

    /*Writing*/
    div#writing {
      margin-top: -210px;
    }

    div#writing-group {
      flex-direction: column;
      align-items: center;
    }

    div#writing-content {
      order: 1;
      width: 50%;
      text-align: center;
    }

    /*Project*/
    div#projects {
      margin-top: -150px;
    }

    div#project-group {
      flex-direction: column;
      align-items: center;
    }

    div#project-content {
      order: 1;
      width: 50%;
      text-align: center;
    }

    /*Other*/
    footer {
      text-align: center;
    }

    div#social-media {
      float: none;
      margin: 10px 20px 10px 0px;
    }

    p#credit {
      display: none;
    }

    p#credit-static {
      display: none;
    }
}

/*Header*/

header {
  width: 100%;
  height: 60px;
  position: relative;
  top: 0px;
  text-align: center;
}

#nav-letter {
  font-weight: 700;
  margin: 10px 0px 10px 0px;
}

#nav-letter:hover {
  color: grey;
  cursor: pointer;
}

ul  {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li a {
    display: block;
    text-align: center;
    text-decoration: none;
    padding: 16px;
}

header li a:hover {
    color: lightgrey;
}

/*Body*/

#bio {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -100px;
  margin-left: -350px;
}

#bio-group {
  width: 700px;
  height: 200px;
  display: flex;
}

#bio-picture {
  width: 200px;
  height: 200px;
}

#bio-text {
  flex-grow: 1;
  margin-left: 20px;
}

/*Pages*/

/*Writing*/
#writing {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -150px;
  margin-left: -350px;
}

#writing-group {
  width: 700px;
  height: 200px;
  display: flex;
}

#writing-content {
  text-align: left;
}

#writing-quote {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

/*Projects*/

#projects {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -130px;
  margin-left: -350px;
}

#project-group {
  width: 700px;
  height: 200px;
  display: flex;
}

#project-content {
  text-align: left;
}

/*Testimonials*/
#testimonials {
  position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -180px;
  margin-left: -350px;
}

#testimonial-group {
  width: 700px;
  height: 200px;
  display: flex;
}

#testimonial-content {
  text-align: left;
}

.testimonial {
  margin-top: 30px;
  margin-bottom: 30px;
  text-align: center;
}

.testimonial-author {
  text-align: right;
}

/*Footer*/

#credit {
  display: inline-block;
  padding: 10px 0px 10px 0px;
  float: left;
  font-weight: 300;
}

#credit-static {
  display: inline-block;
  padding: 10px 4px 10px 15px;
  float: left;
  font-weight: 300;
}

#social-media {
  display: inline-block;
  margin: 10px 20px 10px 0px;
  float: right;
  font-weight: 500;
}

footer {
  position: fixed;
  height: 60px;
  bottom: 0px;
  width: 100%;
  margin-top: 50px;
  font-weight: bold;
}
