<body>

  <div class="container text-center">
    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <h3>INTERNET RECIPE</h3>
      </div>
      <div class="col-md-2"></div>
    </div>
    <br>
    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div>
          <p>Hi! Thank you for clicking on this INTERNET RECIPE. You'll absolutely enjoy this INTERNET RECIPE - I have
            put a vast amount of love and attention into the creation of this INTERNET RECIPE. It will absolutely sate
            your appetite - it's worth all of the effort. There is also a bit of preamble before you get to the actual
            recipe - this is just for SEO optimisation purposes! It also allows me to serve a few more ads your way,
            which allows me to produce more recipes more often for YOU! Thanks in advance for reading and I hope you
            enjoy! All units below are in metric.</p>

          <span class="d-inline-block" id="tooltip" tabindex="0" data-bs-toggle="popover" data-bs-trigger="hover focus"
            data-bs-placement="top" data-bs-content="This is broken at the moment! Sorry!">
            <button type="button" class="btn btn-primary btn-sm" disabled>Jump to recipe ▼</button>
          </span>
          <!-- <button type="button" class="btn btn-primary btn-sm">Share</button> -->

          <br> <br>
          <img src="/assets/images/internet-recipe/INTERNET-RECIPE.jpg" class="img-fluid">

        </div>
        <br>



        <div class="scroll-container" infiniteScroll [infiniteScrollDistance]="scrollDistance"
          [infiniteScrollThrottle]="throttle" [alwaysCallback]="false" (scrolled)="onScrollDown()">

          <ng-container *ngFor="let item of initialArray">
            <p *ngIf="item.type === 'text'">{{ item.value }}</p>
          </ng-container>
          
          <ng-container *ngFor="let item of array">
            <p *ngIf="item.type === 'text'">{{ item.value }}</p>
            <img *ngIf="item.type === 'image'" [src]="item.value" alt="Random image" class="img-fluid" />
          </ng-container>

        </div>
      </div>
      <div class="col-md-3"></div>

    </div>
  </div>

</body>