
<head>
  <title>Tappy Standard Time</title>

  <meta charset="utf-8">
  <meta name="description" content="How late will Taryn Orkin be to your gathering/social event/Bar Mitzvah/birthday.">
  <meta name="author" content="Matthew Querzoli">
  <meta name="keywords" content="Taryn,Orkin,Time,Late,TST">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  
</head>

<body>
  <div class="container text-center">

    <div class="row">
      <div class="col-md-2"></div>
      <div class="col-md-8">
        <br>
        <h2>Tappy Standard Time</h2>
        <br>
        <h5>How late will Taryn Orkin be to your event?</h5>
      </div>
      <div class="col-md-2"></div>
    </div>

    <br/>

    <div class="row">
      <div class="col-md-4"></div>
      <div class="col-md-4">
        <form id="datetimeForm">
          <label class="mb-2" for="datetime">Select your event date and time</label>
          <input class="form-control text-center" type="datetime-local" id="datetime" name="datetime">
          <button type="submit" class="btn btn-primary mt-2">Submit</button>
        </form> 
      </div>
      <div class="col-md-4"></div>
    </div>

    <br/>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <div class="results-section">
          <p id="results"></p>
        </div>
      </div>
      <div class="col-md-3"></div>
    </div>

    <br/><br/>

    <div class="row">
      <div class="col-md-3"></div>
      <div class="col-md-6">
        <p><b>Despite her best intentions, Tappy inadvertently channels <a href="https://en.wikipedia.org/wiki/The_Good_Soldier_%C5%A0vejk" target="_blank">The Good Soldier Švejk</a>...</b></p>
        <p><i>"When the war is over, let's see each other", said Švejk. "You will find me every day after six o'clock in the 'U Kalicha'"</i></p>
        <p><i>"Then, see you after the war, at six o'clock in the evening." Vodička said.</i></p>
        <p><i>"Better come at six-thirty to be safe if I'm late," Švejk replied.</i></p>
      </div>
      <div class="col-md-3"></div>
    </div>
  </div>

</body>