body {
  background-color: #c1ebe5;
  display: flex;
  align-items: flex-start;
  min-height: 100vh;
}

.bingo-grid {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr)); 
}

.cell {
  display: flex;
  align-items: center;
  justify-content: center;
  border: 2px solid #000;
  padding: 20px;
  cursor: pointer;
  user-select: none;
  background: white;
  transition: background 0.2s;
  white-space: normal; 
  word-break: break-word; 
  text-align: center;
}

.cell.selected {
  background: #56c8b7;
  color: white;
  font-weight: bold;
}

.btn-primary-bingo {
    --bs-btn-color: #fff;
    --bs-btn-bg: #236C61;
    --bs-btn-border-color: #236C61;
    --bs-btn-hover-color: #fff;
    --bs-btn-hover-bg: #329A8A;
    --bs-btn-hover-border-color: #236C61;
    --bs-btn-focus-shadow-rgb: 217, 164, 6;
    --bs-btn-active-color: #fff;
    --bs-btn-active-bg: #236C61;
    --bs-btn-active-border-color: #236C61;
    --bs-btn-active-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
    --bs-btn-disabled-color: #fff;
    --bs-btn-disabled-bg: #236C61;
    --bs-btn-disabled-border-color: #236C61;
}

/* From https://codepen.io/alvarotrigo/pen/xxLvyOG */

.bingo-win {
  position: relative;
  font-size: 50px;
}
.bingo-win span {
  position: relative;
  display: inline-block;
  color: #000;
  font-weight: bolder;
  animation: bingo-win 1s infinite;
  animation-delay: calc(.1s * var(--i));
}

@keyframes bingo-win {
  0%,40%,100% {
    transform: translateY(0)
  }
  20% {
    transform: translateY(-20px)
  }
}

@media (max-width: 900px) {
  /* reduce padding in cells when screen size is smaller */
  .cell {
    padding: 5px; 
  }
}