* {
    color: #002b10;
    font-family: "Trip Sans", 'Quicksand', sans-serif;  /* "Trip Sans VF","Trip Sans",Arial,sans-serif */
}

img {
    border-radius: 2%;
}

.award-image {
    height: 100px; 
    width: 100px;  
    margin: 10px;
}

.bg-image {
  position: relative;
}

.bg-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4); /* 30% dark overlay */
  z-index: 0;
}

.bg-image > * {
  position: relative;
  z-index: 1;
}


@media (min-width: 1024px) {

.byline-choice-awards {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 6px;

}

.byline-bob-destinations {
  font-size: 56px;
  font-weight: 900;
  font-family: "Trip Sans Ultra";
}

}