<body>

  <div class="row">
    <div class="col-lg">

      <div class="bg-image d-flex flex-row justify-content-center align-items-end" style="background-image: url('/assets/images/trottadvisor/harro.jpg'); height: 40vh;">
        <div class="d-flex flex-row mb-3">
          <img src="/assets/images/trottadvisor/tripadvisor-2026-badge.png" class="img-fluid award-image" alt="Badge">
          <div class="d-flex flex-column mb-3">
            <h2 class="text-white">Harro's Choice Awards</h2>
            <h1 class="text-white">Best of the Best Destinations</h1>
          </div>
        </div>
      </div>

    </div>
  </div>

  <br> <br>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <img src="/assets/images/trottadvisor/bangkok.jpg" class="img-fluid" alt="Bangkok">
    </div>
    <div class="col-lg-5">
      <p>01.</p>
      <h1>Bangkok</h1>
      <p><u>Thailand</u></p>
      <div class="text-right">
        <p>The charming Vietnamese capital has aged well, preserving the Old Quarter, monuments and colonial
          architecture, while making room for modern developments alongside. Hanoi may have shrugged off several
          former names, including Thang Long, or "ascending dragon," but it hasn't forgotten its past, as sites such
          as Ho Chi Minh's Mausoleum and Hoa Lo Prison attest. Lakes, parks, shady boulevards and more than 600
          temples and pagodas add to the appeal of this city, which is easily explored by taxi.</p>
      </div>
      <br>
    </div>
    <div class="col-lg-1"></div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <img src="/assets/images/trottadvisor/queenstown.jpg" class="img-fluid" alt="Bangkok">
    </div>
    <div class="col-lg-5">
      <p>02.</p>
      <h1>Queenstown</h1>
      <p><u>New Zealand</u></p>
      <div class="text-right">
        <p>Best chance choppa here, especially a few 60-year-olds. This is how analgate started.</p>
      </div>
      <br>
    </div>
    <div class="col-lg-1"></div>
  </div>

  <br><br>

  <div class="row">
    <div class="col-lg-1"></div>
    <div class="col-lg-5">
      <img src="/assets/images/trottadvisor/baton-rouge.jpg" class="img-fluid" alt="Bangkok">
    </div>
    <div class="col-lg-5">
      <p>03.</p>
      <h1>Louisiana</h1>
      <p><u>United States of America</u></p>
      <div class="text-right">
        <p>Swamp trotta.</p>
      </div>
      <br>
    </div>
    <div class="col-lg-1"></div>
  </div>

  <br><br>


</body>