* {
    color: #002b10;
    font-family: "Trip Sans", 'Quicksand', sans-serif;  /* "Trip Sans VF","Trip Sans",Arial,sans-serif */
}

img {
    border-radius: 2%;
}

.award-image {
    height: 90px; 
    width: 90px;  
    margin: 0 3rem 1rem 0;
}

.bg-image {
  position: relative;
  background-image: url('/assets/images/trottadvisor/harro.jpg');
  height: 60vh;
}

.bg-overlay {
  margin-left: 13vw;
  margin-bottom: 3vw;
}

.bg-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4); /* 30% dark overlay */
  z-index: 0;
}

.bg-image > * {
  position: relative;
  z-index: 1;
}

.location-number {
  margin-bottom: 0px;
  font-size: 20px;
}

.location-title {
  font-size: 44px;
  font-weight: 400;
  font-family: "Trip Sans Ultra";
}

.location-attraction-button  {
  font-size: 16px;
  color: #002b11;
  margin-right: 24px;
  border-radius: 1000px;
  border-color: #002b11;
}

.location-attraction-button:hover  {
    background-color: #e5e5e5;
}

.location-icon {
  width: 17px;
  height: 17px;
  margin-right: 4px;
}

.location-things-to-do {
  font-weight: bold;
}

.location-image-overlay {
  /* margin-left: 13vw; */
  /* margin-bottom: 3vw; */
}

.location-image::before {
  content: "";
  position: absolute;
  inset: 0;
  background: rgba(0,0,0,0.4); /* 30% dark overlay */
  z-index: 0;
}

.location-image > * {
  position: relative;
  z-index: 1;
}

@media (min-width: 1024px) {

.byline-choice-awards {
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 6px;
}

.byline-bob-destinations {
  font-size: 56px;
  font-weight: 900;
  font-family: "Trip Sans Ultra";
  margin-bottom: 0px;
}

}