<body>
    <div id="container">
        <div id="bio">
            <div id="bio-group">
                <div id="bio-picture-wrapper">
                    <img id="bio-picture" src="assets/images/picture.png" />
                </div>
                <div id="bio-text">
                    <h2>Hi, I'm Matthew Querzoli</h2>
                    <p>I'm a writer and software developer. Currently, I'm writing my first novel and coding away at the
                        Reserve
                        Bank of Australia. When I find some extra time, it's spent headbanging to Violent Soho
                        (probably).</p>
                    <p><b>Feel free to <a href="mailto:me@matthewquerzoli.com?Subject=Hey!">contact me</a> with regards
                            to my
                            writing or software work.</b></p>
                </div>
            </div>
        </div>
    </div>
</body>