<header *ngIf="standardRoute">
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
            <a class="navbar-brand mb-0 h1" routerLink="/home">Q</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample11"
                aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarsExample11">
                <ul class="navbar-nav">
                    <li class="nav-item active">
                        <a class="nav-link" routerLink="/writing">Writing</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/projects">Projects</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/blog">Blog</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/nano-narratives">Nano Narratives</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/the-good-book">The Good Book</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" routerLink="/testimonials">Testimonials</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>

<div *ngIf="theBigOneRoute">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!-- Left side -->
            <!-- <a class="navbar-text px-2 order-lg-0" routerLink="/projects">Projects</a> -->

            <a class="navbar-text d-none d-lg-block" routerLink="/projects" id="leftLink">Projects</a>
            <a class="navbar-brand d-lg-none" routerLink="/projects" id="leftEmoji">📚</a>

            <!-- Middle text -->
            <div class="position-absolute start-50 translate-middle-x">
                <a class="navbar-brand" routerLink="/projects/funny-password-checker">The Big One FAQ</a>
            </div>

            <!-- Toggle button for right-side links -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#rightNav"
                aria-controls="rightNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Right side -->
            <div class="collapse navbar-collapse justify-content-end" id="rightNav">
                <div class="d-flex flex-column flex-lg-row gap-3">
                    <a class="navbar-text" routerLink="/projects/the-big-one" fragment="faqs">FAQ</a>
                    <a class="navbar-text" routerLink="/projects/the-big-one" fragment="stats">Stats</a>
                    <a class="navbar-text" routerLink="/projects/the-big-one" fragment="graphs">Graphs</a>
                    <a class="navbar-text" routerLink="/projects/the-big-one" fragment="photos">Photos</a>
                    <a class="navbar-text" routerLink="/projects/the-big-one" fragment="awards">Awards</a>
                </div>
            </div>
        </div>

    </nav>

</div>


<div *ngIf="tappyStandardTimeRoute">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!-- Left side -->

            <a class="navbar-text d-none d-lg-block" routerLink="/projects/tappy-os" id="leftLink">Tappy OS</a>
            <a class="navbar-brand d-lg-none" routerLink="/projects" id="leftEmoji">📚</a>

            <!-- Middle text -->
            <div class="position-absolute start-50 translate-middle-x">
                <a class="navbar-brand" routerLink="/projects/funny-password-checker">Tappy Standard Time</a>
            </div>

        </div>

    </nav>

</div>

<div *ngIf="boganOfMeteorologyRoute">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!-- Left side -->

            <a class="navbar-text d-none d-lg-block" routerLink="/projects" id="leftLink">Projects</a>
            <a class="navbar-brand d-lg-none" routerLink="/projects" id="leftEmoji">📚</a>

            <!-- Middle text -->
            <div class="position-absolute start-50 translate-middle-x">
                <a class="navbar-brand" routerLink="/projects/bogan-of-meteorology">Bogan of Meteorology</a>
            </div>

            <!-- Right side -->
            <div class="collapse navbar-collapse justify-content-end" id="rightNav">
                <div class="d-flex flex-column flex-lg-row gap-3">
                    <a class="navbar-text" routerLink="/projects/bogan-of-meteorology/">App</a>
                    <a class="navbar-text" routerLink="/projects/bogan-of-meteorology/about">About</a>
                </div>
            </div>

        </div>

    </nav>

</div>

<div *ngIf="ripMeANewOneRoute">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!-- Left side -->

            <a class="navbar-text d-none d-lg-block" routerLink="/projects" id="leftLink">Projects</a>
            <a class="navbar-brand d-lg-none" routerLink="/projects" id="leftEmoji">📚</a>

            <!-- Middle text -->
            <div class="position-absolute start-50 translate-middle-x">
                <a class="navbar-brand" routerLink="/projects/funny-password-checker">Rip Me A New One</a>
            </div>

        </div>

    </nav>

</div>

<div *ngIf="itsFiveOclockSomewhereRoute">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!-- Left side -->

            <a class="navbar-text d-none d-lg-block" routerLink="/projects" id="leftLink">Projects</a>
            <a class="navbar-brand d-lg-none" routerLink="/projects" id="leftEmoji">📚</a>

            <!-- Middle text -->
            <div class="position-absolute start-50 translate-middle-x">
                <a class="navbar-brand" routerLink="/projects/funny-password-checker">It's Five O'Clock Somewhere</a>
            </div>

        </div>

    </nav>

</div>

<div *ngIf="tappySeasonTimeRoute">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!-- Left side -->

            <a class="navbar-text d-none d-lg-block" routerLink="/projects/tappy-os" id="leftLink">Tappy OS</a>
            <a class="navbar-brand d-lg-none" routerLink="/projects" id="leftEmoji">📚</a>

            <!-- Middle text -->
            <div class="position-absolute start-50 translate-middle-x">
                <a class="navbar-brand" routerLink="/projects/funny-password-checker">Tappy Season Time</a>
            </div>

        </div>

    </nav>

</div>

<div *ngIf="funnyPasswordCheckerRoute">

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark fixed-top">
        <div class="container-fluid">
            <!-- Left side -->
            <!-- <a class="navbar-text px-2 order-lg-0" routerLink="/projects">Projects</a> -->

            <a class="navbar-text d-none d-lg-block" routerLink="/projects" id="leftLink">Projects</a>
            <a class="navbar-brand d-lg-none" routerLink="/projects" id="leftEmoji">📚</a>

            <!-- Middle text -->
            <div class="position-absolute start-50 translate-middle-x">
                <a class="navbar-brand" routerLink="/projects/funny-password-checker">Funny Password Checker</a>
            </div>

            <!-- Toggle button for right-side links -->
            <button class="navbar-toggler ms-auto" type="button" data-bs-toggle="collapse" data-bs-target="#rightNav"
                aria-controls="rightNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Right side -->
            <div class="collapse navbar-collapse justify-content-end" id="rightNav">
                <div class="d-flex flex-column flex-lg-row gap-3">
                    <a class="navbar-text" routerLink="/projects/funny-password-checker/">App</a>
                    <a class="navbar-text" routerLink="/projects/funny-password-checker/about">About</a>
                    <a class="navbar-text" routerLink="/projects/funny-password-checker/answers">Answers</a>
                    <a class="navbar-text" routerLink="/projects/funny-password-checker/info">But seriously...</a>
                </div>
            </div>
        </div>

    </nav>

</div>