.fpc-nav-menu {
    margin-top: 60px;
}


/* Trottadvisor */

.trottadvisor {
    font-size: 15px;
}

.trottadvisor-nav-image  {
    margin-right: 24px;
}

.trottadvisor-button  {
    font-size: inherit;
    color: #002b11;
    margin-right: 24px;
    font-weight: 510;
    border-radius: 1000px;
}

.trottadvisor-button-sign-in {
    color: #fff;
    background-color: #002b11;
    margin-right: 24px;
    font-weight: 500;
    border-radius: 1000px;
}

.trottadvisor-search {
    width: clamp(100px, 35vw, 400px);
    border-radius: 1000px;
}

.trottadvisor-button:hover  {
    margin-right: 24px;
    background-color: #e5e5e5;
}

/* normal 700 16px/21px "Trip Sans VF","Trip Sans",arial,sans-serif */
