.external-link {
    height: 20px;
    width: 20px;
}

.project-card {
  border-radius: 12px;
  padding: 20px;
  min-height: 250px;
}

.internal-project-card {
    background-color: #f8f9fa;
    --bs-btn-hover-bg: #C3CCD5;
    --bs-btn-hover-border-color: #C3CCD5;
}

.external-project-card {
    background-color: #F0FDD8;
    --bs-btn-hover-border-color: #CBF877;
}

.inactive-project-card {
    background-color: #dee2ff;
    --bs-btn-hover-border-color: #8593ff;
}

.under-construction-project-card {
    background-color: #feecb2;
    --bs-btn-hover-border-color: #FDE186;
}

.tag-icon {
    height: 32px;
    width: 32px;
}

.tag-size {
    margin-bottom: 6px;
}

h5 {
    text-align: left;
}