<body>
    <div class="container text-center">
        
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3>Projects</h3>
                
                <p>Whenever I've got the requisite spare time and motivation on this giant spinning space rock, I work
                    on a few amusing, if less than serious side projects.</p>
            </div>
            <div class="col-sm-2"></div>
        </div>
        
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <p>The next one down the line will probably involve <a
                        href="https://www.youtube.com/watch?v=apiLywg0VAM" target="_blank">gambling</a>, gooches or
                    something in between.</p>
                <p><b>Stay tuned for some more serious and not-so-serious projects in the future. Check out my <a
                            href="https://github.com/Quiza12" target="blank">Github</a> to check out the various
                        project repositories.</b></p>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <br>

        <div class="row">

            <h5>Projects Under Construction</h5>

            @for(project of projects; track $index) {
            @if (project.underConstruction) {
            <div class="col-md-4 mb-3 d-flex">
                <a [routerLink]="project.route"
                    class="btn btn-light w-100 h-100 d-flex flex-column justify-content-between project-card under-construction-project-card">

                    <div>
                        <h4 class="mt-3">{{ project.emoji + ' ' + project.name }}</h4>
                        <p>{{ project.description }}</p>

                        @if (project.technology.includes(technology.Angular)) {
                        <img class="tag-icon" src="/assets/images/icons/angular-icon.svg" alt="Angular">
                        }
                        @if (project.technology.includes(technology.Bootstrap)) {
                        <img class="tag-icon" src="/assets/images/icons/bootstrap-icon.svg" alt="Bootstrap">
                        }
                        @if (project.technology.includes(technology.HTML5)) {
                        <img class="tag-icon" src="/assets/images/icons/html-icon.svg" alt="HTML">
                        }
                        @if (project.technology.includes(technology.Javascript)) {
                        <img class="tag-icon" src="/assets/images/icons/javascript-icon.svg" alt="JavaScript">
                        }
                    </div>

                    <p class="mt-3"><b>{{ project.year }}</b></p>
                </a>
            </div>

            }
            }

        </div>

        <div class="row">

            <h5>Internal Projects</h5>

            @for(project of projects; track $index) {
            @if (project.internal && project.active && !project.underConstruction && !project.route.match(tappyOsProjectPattern)) {
            <div class="col-md-4 mb-3 d-flex">
                <a [routerLink]="project.route"
                    class="btn btn-light w-100 h-100 d-flex flex-column justify-content-between project-card internal-project-card">

                    <div>
                        <h4 class="mt-3">{{ project.emoji + ' ' + project.name }}</h4>
                        <p>{{ project.description }}</p>

                        @if (project.technology.includes(technology.Angular)) {
                        <img class="tag-icon" src="/assets/images/icons/angular-icon.svg" alt="Angular">
                        }
                        @if (project.technology.includes(technology.Bootstrap)) {
                        <img class="tag-icon" src="/assets/images/icons/bootstrap-icon.svg" alt="Bootstrap">
                        }
                        @if (project.technology.includes(technology.HTML5)) {
                        <img class="tag-icon" src="/assets/images/icons/html-icon.svg" alt="HTML">
                        }
                        @if (project.technology.includes(technology.Javascript)) {
                        <img class="tag-icon" src="/assets/images/icons/javascript-icon.svg" alt="JavaScript">
                        }
                    </div>

                    <p class="mt-3"><b>{{ project.year }}</b></p>
                </a>
            </div>

            }
            }

        </div>

        <div class="row">

            <h5>External Projects</h5>

            @for(project of projects; track $index) {
            @if (!project.internal && project.active) {
            <div class="col-md-4 mb-3 d-flex">
                <a [href]="project.route" target="_blank"
                    class="btn btn-light w-100 h-100 d-flex flex-column justify-content-between project-card external-project-card">

                    <div>
                        <h4 class="mt-3">{{ project.emoji + ' ' + project.name }} <img
                                src="/assets/images/icons/external-link.svg" class="img-fluid external-link"></h4>
                        <p>{{ project.description }}</p>

                        @if (project.technology.includes(technology.Angular)) {
                        <img class="tag-icon" src="/assets/images/icons/angular-icon.svg" alt="Angular">
                        }
                        @if (project.technology.includes(technology.Bootstrap)) {
                        <img class="tag-icon" src="/assets/images/icons/bootstrap-icon.svg" alt="Bootstrap">
                        }
                        @if (project.technology.includes(technology.HTML5)) {
                        <img class="tag-icon" src="/assets/images/icons/html-icon.svg" alt="HTML">
                        }
                        @if (project.technology.includes(technology.Javascript)) {
                        <img class="tag-icon" src="/assets/images/icons/javascript-icon.svg" alt="JavaScript">
                        }
                    </div>

                    <p class="mt-3"><b>{{ project.year }}</b></p>
                </a>
            </div>
            }
            }

        </div>

        <br>

        <div class="row">

            <h5>Inactive/Past Projects</h5>

            @for(project of projects; track $index) {
            @if (!project.active) {
            <div class="col-md-4 mb-3 d-flex">
                <a [href]="project.route" target="_blank"
                    class="btn btn-light w-100 h-100 d-flex flex-column justify-content-between project-card inactive-project-card">

                    <div>
                        <h4 class="mt-3">{{ project.emoji + ' ' + project.name }} <img
                                src="/assets/images/icons/external-link.svg" class="img-fluid external-link"></h4>
                        <p>{{ project.description }}</p>

                        @if (project.technology.includes(technology.Angular)) {
                        <img class="tag-icon" src="/assets/images/icons/angular-icon.svg" alt="Angular">
                        }
                        @if (project.technology.includes(technology.Bootstrap)) {
                        <img class="tag-icon" src="/assets/images/icons/bootstrap-icon.svg" alt="Bootstrap">
                        }
                        @if (project.technology.includes(technology.HTML5)) {
                        <img class="tag-icon" src="/assets/images/icons/html-icon.svg" alt="HTML">
                        }
                        @if (project.technology.includes(technology.Javascript)) {
                        <img class="tag-icon" src="/assets/images/icons/javascript-icon.svg" alt="JavaScript">
                        }
                    </div>

                    <p class="mt-3"><b>{{ project.year }}</b></p>
                </a>
            </div>
            }
            }

        </div>

        <br>
        <br>

    </div>
</body>


<!-- <a routerLink="/projects/quiet-near-a-little-stream" class="btn btn-under-construction" role="button" aria-pressed="true">
🚧 -->