
/*
Popover pure CSS: https://codepen.io/chocochip/pen/zYxMgRG
On click/hover: https://stackoverflow.com/questions/22559756/changing-hover-to-touch-click-for-mobile-devices
*/

.w-10 { flex-basis: 10%; }
.w-6  { flex-basis: 6%; }
.w-5  { flex-basis: 5%; }
.w-4  { flex-basis: 4%; }
.w-3  { flex-basis: 3%; }
.w-2  { flex-basis: 2%; }
.w-1  { flex-basis: 1%; }

.bar {
  width: 100%;
  height: 100px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
}

.segment {
  height: 100%;
  color: white;
  display: flex;             
  justify-content: center;   
  align-items: center;
}

.legend {
  width: 100%;
  height: 50px;
  border-radius: 15px;
  overflow: hidden;
  display: flex;
}

.legend-segment  {
  height: 100%;
  flex: 1;
  color: white;
  display: flex;             
  justify-content: center;   
  align-items: center;
}

@media (max-width: 768px) {

  .bar {
    flex-direction: column; 
    width: 150px; 
    height: 500px; 
    margin: 0 auto; 
  }

  .segment {
    width: 100%; 
    height: auto; 
  }

  .legend {
    flex-direction: column; 
    width: 100px; 
    height: 200px; 
    margin: 0 auto; 
  }

  .segment {
    width: 100%; 
    height: auto; 
  }

}

/* Ad */
.ad, .legend-ad {
    background: #f44336;
}

.ad:hover, .legend-ad:hover {
    background: color-mix(in srgb, #f44336 80%, white);
}

.mafs-wrapper:has(.legend-ad:hover) .segment.ad {
  background: color-mix(in srgb, #f44336 80%, white);
}

.mafs-wrapper:has(.segment.ad:hover) .legend-ad {
  background: color-mix(in srgb, #f44336 80%, white);
}

.mafs-wrapper:has(.segment.ad:hover) .segment.ad {
  background: color-mix(in srgb, #f44336 80%, white);
}

/* Preview */
.preview, .legend-preview {
    background: #3688f4;
}

.preview:hover, .legend-preview:hover {
    background: color-mix(in srgb, #3688f4 80%, white);
}

.mafs-wrapper:has(.legend-preview:hover) .segment.preview {
  background: color-mix(in srgb, #3688f4 80%, white);
}

.mafs-wrapper:has(.segment.preview:hover) .legend-preview {
  background: color-mix(in srgb, #3688f4 80%, white);
}

.mafs-wrapper:has(.segment.preview:hover) .segment.preview {
  background: color-mix(in srgb, #3688f4 80%, white);
}

/* Show */
.show, .legend-show {
    background: #4caf50;
}

.show:hover, .legend-show:hover {
    background: color-mix(in srgb, #4caf50 80%, white);
}

.mafs-wrapper:has(.legend-show:hover) .segment.show {
  background: color-mix(in srgb, #4caf50 80%, white);
}

.mafs-wrapper:has(.segment.show:hover) .legend-show {
  background: color-mix(in srgb, #4caf50 80%, white);
}

.mafs-wrapper:has(.segment.show:hover) .segment.show {
  background: color-mix(in srgb, #4caf50 80%, white);
}

/* Last Episode */
.last-ep-recap, .legend-last-ep-recap {
    background: #ff8300;
}

.last-ep-recap:hover, .legend-last-ep-recap:hover {
    background: color-mix(in srgb, #ff8300 80%, white);
}

.mafs-wrapper:has(.legend-last-ep-recap:hover) .segment.last-ep-recap {
  background: color-mix(in srgb, #ff8300 80%, white);
}

.mafs-wrapper:has(.segment.last-ep-recap:hover) .legend-last-ep-recap {
  background: color-mix(in srgb, #ff8300 80%, white);
}

.mafs-wrapper:has(.segment.last-ep-recap:hover) .segment.last-ep-recap{
  background: color-mix(in srgb, #ff8300 80%, white);
}

/* Recent Recap */
.recent-recap, .legend-recent-recap {
    background: #357a38;
}

.recent-recap:hover, .legend-recent-recap:hover {
    background: color-mix(in srgb, #357a38 80%, white);
}

.mafs-wrapper:has(.legend-recent-recap:hover) .segment.recent-recap {
  background: color-mix(in srgb, #357a38 80%, white);
}

.mafs-wrapper:has(.segment.recent-recap:hover) .legend-recent-recap {
  background: color-mix(in srgb, #357a38 80%, white);
}

.mafs-wrapper:has(.segment.recent-recap:hover) .segment.recent-recap {
  background: color-mix(in srgb, #357a38 80%, white);
}

.caveats {
    margin-bottom: 0px;
}

