<body>

    <nav class="navbar navbar-expand-lg fixed-top">
        <div class="container-fluid d-flex align-items-center">

            <a class="navbar-text d-none d-lg-block" routerLink="/projects/out-of-office" id="leftLink">Back to
                animation</a>
            <a class="navbar-brand d-lg-none" routerLink="/projects/out-of-office" id="leftEmoji">🏢</a>

        </div>
    </nav>

    <div class="about-container">
        <div class="container text-center">
            <div class="row">
                <div class="col-lg">
                    <div class="about-text">
                        <h4>About</h4>
                        <p><a href="/">I</a> made this because I a) wanted to play around with CSS, b) was feeling the
                            sweet pull of nostalgia (for DVDs) and c) because I'd love to go on leave.</p>
                        <br>
                        <h4>All Out of Office Messages</h4>
                        <ol>
                            <li>Hi! I am currently out of office and will be returning when I am back from leave.
                                Regards, Leanne</li>
                            <li>Hi! I am currently out of office on holiday and will be returning in January. Cheers!
                                Mike</li>
                            <li>Hi, I am on leave. I hope you have a Merry Christmas and see you next year! Kind
                                regards, Mary</li>
                            <li>I am currently out of office and not responding to emails. Please contact my team
                                instead. Thanks, Kevin</li>
                            <li>Hello, I am on a well-deserved break at the moment after a belter of a year. Contact me
                                when I'm back. Best, Juan</li>
                            <li>Alas, your email will not find me while there is a coconut in my hand and its oil on my
                                body. Pauline</li>
                            <li>Thanks for reaching out. I'm on leave, please contact Ben in my absence. Thanks! Cameron
                            </li>
                            <li>G'day - if you're contacting me because you were trying to get a hold of Cameron, don't
                                bother. I'm also away. Cheers, Ben</li>
                            <li>Yo - I'm up, up and away from this place for a while. Jenny - if this is you trying to
                                follow up on that quarterly, it's not happening. Amanda</li>
                            <li>Hello, if you're emailing me now, you should probably rethink your priorities. It's the
                                end of the year! Take some time off, like me. Life's too short for work! Kenneth</li>
                            <li>Hi! I'll get to this when I'm back. Probably. In all likelihood I'll probably ditch this
                                place early into the New Year. It is one of my resolutions. Thanks! Cindy</li>
                            <li>Hello, thanks for reaching out. I am not monitoring my inbox as I am in all likelihood
                                15 beers deep in Kuta. See you later, nerds! Tristan</li>
                            <li>Hi, your email is important to me, but not as important as regaining my mental sanity
                                over this holiday period. Best, Isabella</li>
                            <li>I'm away, so leave me alone. Especially you, Hayley. Time to rely on yourself for once,
                                you've only been in this role for 22 years! Thanks, Roger</li>
                            <li>Bugger off, in the most HR-acceptable way possible. Lauren</li>
                            <li>Nup. Whatever you sent me will not be looked at, and I won't go looking for it when I'm
                                back, either. Catch ya later, suckers. Ben</li>
                            <li>Hi! I am happy to say I will not be looking at this. Cheers! Deb</li>
                            <li>Greetings - the email you have sent me will have the privilege of being mass-deleted by
                                me on my first day back next year. Cheers, big ears! Paul</li>
                            <li>No spreken ze English. Bye bye now. Harry</li>
                        </ol>
                        <br>
                        <h4>Cheers to the following</h4>
                        <ul>
                            <li>Tappy</li>
                            <li>Tysie</li>
                            <li><a href="https://www.thesenewsouthwhales.com/" target="_blank">These New South
                                    Whales</a>, in particular <a href="https://youtu.be/1J5I4LbNkPI?si=uYc8fwpIUUE9la5m"
                                    target="_blank">Big Machine</a></li>
                            <li><a href="https://www.joshwcomeau.com/animation/keyframe-animations/"
                                    target="_blank">Josh W Comeau</a>, for the detailed and approachable guidance</li>
                            <li><a href="https://www.youtube.com/watch?v=KUmZhShzQPo" target="_blank">Patrick Jane</a>,
                                in the background</li>
                            <li>The <a href="https://www.youtube.com/watch?v=OlbdQ_i9IgY" target="_blank">Swans</a>
                                (currently 6-1 after Round 7 in the 2026 season)</li>
                            <li><a href="https://codepen.io/aharvard/pen/roPvmG" target="_blank">This CodePen</a> by
                                Andrew Harvard</li>

                        </ul>
                        <br><br>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>