<footer>
    <p id="credit-static">Made</p>
    <p id="credit">with lust by Q</p>
    <div id="social-media">
        <ul>
            <li class="nav-item"><a href="https://mattq.medium.com/" target="_blank">Blog</a></li>
            <li class="nav-item"><a href="mailto:me@matthewquerzoli.com?Subject=Hey!">Email</a></li>
            <li class="nav-item"><a href="https://www.github.com/Quiza12" target="_blank">Github</a></li>
            <li class="nav-item"><a href="https://www.linkedin.com/in/matthewquerzoli" target="_blank">LinkedIn</a></li>
        </ul>
    </div>
</footer>