<!DOCTYPE html>

<html lang="en">

<head>
  <title>Matthew Querzoli</title>

  <meta charset="utf-8">
  <meta name="description" content="Matthew Querzoli - Writer of Words and Code">
  <meta name="author" content="Matthew Querzoli">
  <meta name="keywords" content="Q, Matthew, Querzoli, Blogging, Developer, Portfolio, Résumé">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">

  <link href="https://fonts.googleapis.com/css?family=Quicksand:300,400,500,700" rel="stylesheet">
  <link rel="icon" href="assets/images/favicon.png">
</head>

<app-header></app-header>
<router-outlet></router-outlet>
<app-footer></app-footer>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

</html>