html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  display: flex;
  --animation-timing: 180s;
  --starting-colour: #144B66;
}

.ooo-container {
  animation: slideAround var(--animation-timing) infinite linear, colourShift var(--animation-timing) infinite linear;
  background: var(--starting-colour);
  display: grid;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

.navbar-text {
  color: white;
}

/*
  Right wall - grid-template-columns: 100% 1fr;
  Left wall - grid-template-columns: 200px 1fr;

  Top wall - grid-template-rows: 200px 1fr;
  Bottom wall - grid-template-rows: 100% 1fr;
*/

@keyframes slideAround {
  0% {
    grid-template-columns: 70% 1fr;
    grid-template-rows: 200px 1fr;
  }
  5.26% {
    grid-template-columns: 30% 1fr;
    grid-template-rows: 100% 1fr;
  }
  10.52% {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 80% 1fr;
  }
  15.78% {
    grid-template-columns: 40% 1fr;
    grid-template-rows: 200px 1fr;
  }
  21.04% {
    grid-template-columns: 100% 1fr;
    grid-template-rows: 70% 1fr;
  }
  26.30% {
    grid-template-columns: 80% 1fr;
    grid-template-rows: 100% 1fr;
  }
  31.56% {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 40% 1fr;
  }
  36.82% {
    grid-template-columns: 30% 1fr;
    grid-template-rows: 200px 1fr;
  }
  42.08% {
    grid-template-columns: 100% 1fr;
    grid-template-rows: 100% 1fr;
  }
  47.34% {
    grid-template-columns: 25% 1fr;
    grid-template-rows: 200px 1fr;
  }
  52.60% {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50% 1fr;
  }
  57.86% {
    grid-template-columns: 40% 1fr;
    grid-template-rows: 100% 1fr;
  }
  63.12% {
    grid-template-columns: 80% 1fr;
    grid-template-rows: 200px 1fr;
  }
  68.38% {
    grid-template-columns: 100% 1fr;
    grid-template-rows: 50% 1fr;
  }
  73.64% {
    grid-template-columns: 70% 1fr;
    grid-template-rows: 100% 1fr;
  }
  78.90% {
    grid-template-columns: 30% 1fr;
    grid-template-rows: 200px 1fr;
  }
  84.16% {
    grid-template-columns: 200px 1fr;
    grid-template-rows: 50% 1fr;
  }
  89.42% {
    grid-template-columns: 60% 1fr;
    grid-template-rows: 100% 1fr;
  }
  94.68% {
    grid-template-columns: 100% 1fr;
    grid-template-rows: 50% 1fr;
  }
  100% {
    grid-template-columns: 70% 1fr;
    grid-template-rows: 200px 1fr;
  }
}

//Text in box
.ooo-box {
  background: white;
  height: 200px;
  width: 200px;
  place-self: flex-end;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  padding: 12px;
  border-radius: 7%;
}

.ooo-box::before {
  content: "";
  animation: contentChange var(--animation-timing) infinite;
}

@keyframes contentChange {

  0% { content: "Hi! I am currently out of office and will be returning when I am back from leave. Regards, Leanne";  }
  5.26%{ content: "Hi! I am currently out of office and will be returning when I am back from leave. Regards, Leanne";  }

  5.27% { content: "Hi! I am currently out of office on holiday and will be returning in January. Cheers! Mike";  }
  10.52% { content: "Hi! I am currently out of office on holiday and will be returning in January. Cheers! Mike";  }

  10.53% { content: "Hi, I am on leave. I hope you have a Merry Christmas and see you next year! Kind regards, Mary";  }  
  15.78% { content: "Hi, I am on leave. I hope you have a Merry Christmas and see you next year! Kind regards, Mary";  }

  15.79% { content: "I am currently out of office and not responding to emails. Please contact my team instead. Thanks, Kevin"; }
  21.04% { content: "I am currently out of office and not responding to emails. Please contact my team instead. Thanks, Kevin";  }

  21.05% { content: "Hello, I am on a well-deserved break at the moment after a belter of a year. Contact me when I'm back. Best, Juan";  }
  26.30% { content: "Hello, I am on a well-deserved break at the moment after a belter of a year. Contact me when I'm back. Best, Juan";  }

  26.31% { content: "Alas, your email will not find me while there is a coconut in my hand and its oil on my body. Pauline";  }
  31.56% { content: "Alas, your email will not find me while there is a coconut in my hand and its oil on my body. Pauline";  }

  31.57% { content: "Thanks for reaching out. I'm on leave, please contact Ben in my absence. Thanks! Cameron";  }
  36.82% { content: "Thanks for reaching out. I'm on leave, please contact Ben in my absence. Thanks! Cameron";  }

  36.83% { content: "G'day - if you're contacting me because you were trying to get a hold of Cameron, don't bother. I'm also away. Cheers, Ben";  }
  42.08% { content: "G'day - if you're contacting me because you were trying to get a hold of Cameron, don't bother. I'm also away. Cheers, Ben";  }

  42.09% { content: "Yo - I'm up, up and away from this place for a while. Jenny - if this is you trying to follow up on that quarterly, it's not happening. Amanda";  }
  47.34% { content: "Yo - I'm up, up and away from this place for a while. Jenny - if this is you trying to follow up on that quarterly, it's not happening. Amanda";  }

  47.35% { content: "Hello, if you're emailing me now, you should probably rethink your priorities. It's the end of the year! Take some time off, like me. Life's too short for work! Kenneth";  }
  52.60% { content: "Hello, if you're emailing me now, you should probably rethink your priorities. It's the end of the year! Take some time off, like me. Life's too short for work! Kenneth";  }

  52.61% { content: "Hi! I'll get to this when I'm back. Probably. In all likelihood I'll probably ditch this place early into the New Year. It is one of my resolutions. Thanks! Cindy";  }
  57.86% { content: "Hi! I'll get to this when I'm back. Probably. In all likelihood I'll probably ditch this place early into the New Year. It is one of my resolutions. Thanks! Cindy";  }

  57.87% { content: "Hello, thanks for reaching out. I am not monitoring my inbox as I am in all likelihood 15 beers deep in Kuta. See you later, nerds! Tristan";  }
  63.12% { content: "Hello, thanks for reaching out. I am not monitoring my inbox as I am in all likelihood 15 beers deep in Kuta. See you later, nerds! Tristan";  }

  63.13% { content: "Hi, your email is important to me, but not as important as regaining my mental sanity over this holiday period. Best, Isabella";  }
  68.38% { content: "Hi, your email is important to me,  but not as important as regaining my mental sanity over this holiday period. Best, Isabella";  }

  68.39% { content: "I'm away, so leave me alone. Especially you, Hayley. Time to rely on yourself for once, you've only been in this role for 22 years! Thanks, Roger";  }
  73.64% { content: "I'm away, so leave me alone. Especially you, Hayley. Time to rely on yourself for once, you've only been in this role for 22 years! Thanks, Roger";  }

  73.65% { content: "Bugger off, in the most HR-acceptable way possible. Lauren";  }
  78.90% { content: "Bugger off, in the most HR-acceptable way possible. Lauren";  }

  78.91% { content: "Nup. Whatever you sent me will not be looked at, and I won't go looking for it when I'm back, either. Catch ya later, suckers. Ben";  }
  84.16% { content: "Nup. Whatever you sent me will not be looked at, and I won't go looking for it when I'm back, either. Catch ya later, suckers. Ben";  }

  84.17% { content: "Hi! I am happy to say I will not be looking at this. Cheers! Deb";  }
  89.42% { content: "Hi! I am happy to say I will not be looking at this. Cheers! Deb";  }

  89.43% { content: "Greetings - the email you have sent me will have the privilege of being mass-deleted by me on my first day back next year. Cheers, big ears! Paul";  }
  94.68% { content: "Greetings - the email you have sent me will have the privilege of being mass-deleted by me on my first day back next year. Cheers, big ears! Paul";  }

  94.69% { content: "No spreken ze English. Bye bye now. Harry";  }
  100% { content: "No spreken ze English. Bye bye now. Harry";  }

}

@keyframes colourShift {
  0% {
    background: #144b66;
  }
  5.26% {
    background: #496e6f;
  }
  10.52% {
    background: #6D694A;
  }
  15.78% {
    background: #B86200;
  }
  21.04% {
    background: #793E5C;
  }
  26.30% {
    background: #5D2A42;
  }
  31.56% {
    background: #3C1518;
  }
  36.82% {
    background: #803423;
  }
  42.08% {
    background: #4C6B4C;
  }
  47.34% {
    background: #251351;
  }
  52.60% {
    background: #6F6149;
  }
  57.86% {
    background: #887506;
  }
  63.12% {
    background: #588E15;
  }
  68.38% {
    background: #008F1F;
  }
  73.64% {
    background: #02A171;
  }
  78.90% {
    background: #008F51;
  }
  84.16% {
    background: #60435F;
  }
  89.42% {
    background: #584B4F;
  }
  94.68% {
    background: #3A5169;
  }
  100% {
    background: #144b66;
  }

}

.step::before {
  content: "";
  animation: stepUpdate var(--animation-timing) infinite;
}

@keyframes stepUpdate {
  0% { content: "1";  }
  5.26%{ content: "1"; }

  5.27% { content: "2"; }
  10.52% { content: "2"; }

  10.53% { content: "3"; }  
  15.78% { content: "3"; }

  15.79% { content: "4"; }
  21.04% { content: "4"; }

  21.05% { content: "5"; }
  26.30% { content: "5"; }

  26.31% { content: "6"; }
  31.56% { content: "6"; }

  31.57% { content: "7"; }
  36.82% { content: "7"; }

  36.83% { content: "8"; }
  42.08% { content: "8"; }

  42.09% { content: "9"; }
  47.34% { content: "9"; }

  47.35% { content: "10"; }
  52.60% { content: "10"; }

  52.61% { content: "11"; }
  57.86% { content: "11"; }

  57.87% { content: "12"; }
  63.12% { content: "12"; }

  63.13% { content: "13"; }
  68.38% { content: "13"; }

  68.39% { content: "14"; }
  73.64% { content: "14"; }

  73.65% { content: "15"; }
  78.90% { content: "15"; }

  78.91% { content: "16"; }
  84.16% { content: "16"; }

  84.17% { content: "17"; }
  89.42% { content: "17"; }

  89.43% { content: "18"; }
  94.68% { content: "18"; }

  94.69% { content: "19"; }
  100% { content: "19"; }

}

.step {
  color: white;
  margin-bottom: 0px; 
  padding: 8px 0 8px 0;
}

.navbar-right {
  padding-right: 12px;
}

.total-steps {
  color: white;  
  margin: 0 12px 0 0; 
  padding: 8px 0 8px 0;
}