<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3>Tappy OS</h3>
                <p>My girlfriend's operating system.</p>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <br>
        <br>

        <div class="row">

            <div class="col-sm-2"></div>

            <div class="col-sm-4 mb-3">
                <a routerLink="/projects/tappy-os/tappy-standard-time" class="btn btn-light" role="button"
                    aria-pressed="true">
                    <h4 class="mt-3">⏰ Tappy Standard Time</h4>
                    <p>The timezone my illustrious, beloved girlfriend currently operates in.</p>
                </a>
            </div>

            <div class="col-sm-4 mb-3">
                <a routerLink="/projects/tappy-os/tappy-season-time" class="btn btn-light" role="button"
                    aria-pressed="true">
                    <h4 class="mt-3">🌸 Tappy Season Time</h4>
                    <p>The season my beloved, illustrious girlfriend currently lives in.</p>
                </a>
            </div>

            <div class="col-sm-2"></div>
        </div>

        <br><br>

    </div>
</body>