<body>
    <div class="container text-center">
        <div class="row">
            <div class="col-sm-2"></div>
            <div class="col-sm-8">
                <h3>Tappy OS</h3>
                <p>My girlfriend's operating system.</p>
            </div>
            <div class="col-sm-2"></div>
        </div>

        <br>
        <br>

       <div class="row">

            @for(project of projects; track $index) {
            @if (project.internal && project.active && !project.underConstruction && project.route.match(tappyOsProjectPattern)) {
            <div class="col-md-4 mb-3 d-flex">
                <a [routerLink]="project.route"
                    class="btn btn-light w-100 h-100 d-flex flex-column justify-content-between project-card internal-project-card">

                    <div>
                        <h4 class="mt-3">{{ project.emoji + ' ' + project.name }}</h4>
                        <p>{{ project.description }}</p>

                        @if (project.technology.includes(technology.Angular)) {
                        <img class="tag-icon" src="/assets/images/icons/angular-icon.svg" alt="Angular">
                        }
                        @if (project.technology.includes(technology.Bootstrap)) {
                        <img class="tag-icon" src="/assets/images/icons/bootstrap-icon.svg" alt="Bootstrap">
                        }
                        @if (project.technology.includes(technology.HTML5)) {
                        <img class="tag-icon" src="/assets/images/icons/html-icon.svg" alt="HTML">
                        }
                        @if (project.technology.includes(technology.Javascript)) {
                        <img class="tag-icon" src="/assets/images/icons/javascript-icon.svg" alt="JavaScript">
                        }
                    </div>

                    <p class="mt-3"><b>{{ project.year }}</b></p>
                </a>
            </div>

            }
            }

        </div>

        <br><br>

    </div>
</body>
