<body>

  <div class="container">

    <div class="row">

      <div class="col-md-6 text-end">

        <h1>It's Five O'Clock Somewhere</h1>
        <h6>By complete and utter pig, <a target="_blank" href="https://www.matthewquerzoli.com">Matt Querzoli.</a></h6>

        <br>

        <img src="/assets/images/its-five-oclock-somewhere/me-and-beer.png" class="img-fluid" alt="Man and beer">

        <br><br>

        <div>
          <p class="mb-0"><b>You know why you're here.</b></p>
          <p class="mb-0"><b>You need a beer.</b></p>
          <p class="mb-0"><b>But how do you justify the beverage?</b></p>
          <p><b>You're gonna need some leverage.</b></p>
        </div>

        <div>
          <p>Cheers to <a target="_blank" href="https://timezonedb.com/">TimeZoneDB </a> for supplying the API.</p>
          <p>If you successfully justified your beer using this, or had a bit of a chuckle please feel free to <a
              target="_blank" href="https://buymeacoff.ee/LoveTheQ">chuck a couple of coins my way.</a></p>
        </div>

      </div>

      <div class="col-md-6 text-start">

        <div class="beer-animation">
          <div class="glass">
            <div class="beer">
              <div class="foam"></div>
              <div class="bump"></div>
              <div class="bump"></div>
              <div class="bump"></div>
            </div>
            <div class="handle"></div>
          </div>
        </div>

        <div class="results-container">
          <div>
            <p>It's five o'clock in the following places:</p>
          </div>
          <ul class="results-list">
          </ul>
        </div>

        <br><br>
      </div>

    </div>

  </div>

</body>