<body>

    <!-- Home -->
    <!-- <section id="top" class="bg-primary bg-gradient">
        <div class="container px-4 mt-0 text-center">

            <h1 class="fw-bolder text-white">The Big One (or Matt's Six-Month Trip) FAQ</h1>
            <p class="lead text-white">So Matt doesn't need to answer 'What was your favourite place?' a thousand times.
            </p>

        </div>
    </section> -->

    <section class="pt-1" id="faqs">
        <div class="container px-4">
            <div class="row gx-4 justify-content-center text-center">
                <div class="col-lg-8">
                    <h2>Don't You (Forget About <b>Jimny</b>)!</h2>

                    <h5>Sound UP!</h5>

                    <audio autoplay controls hidden>
                        <source src="/assets/audio/dont-you-forget-about-jimny/dont-you-forget-about-me.mp3"
                            type="audio/mpeg">
                        Your browser does not support the audio element.
                    </audio>

                    <div id="carouselExampleAutoplaying" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">

                            @for (jimnyImage of jimnyImageArray; track $index) {
                            @if ($index != 0) {
                            <div class="carousel-item">
                                <img [src]="'/assets/images/dont-you-forget-about-jimny/' + jimnyImage + '.jpg'"
                                    class="d-block w-100" alt="...">
                            </div>
                            } @else {
                            <div class="carousel-item active">
                                <img src="/assets/images/dont-you-forget-about-jimny/jimny1.jpg" class="d-block w-100" alt="...">
                            </div>
                            }
                            }

                        </div>
                        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="prev">
                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Previous</span>
                        </button>
                        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleAutoplaying"
                            data-bs-slide="next">
                            <span class="carousel-control-next-icon" aria-hidden="true"></span>
                            <span class="visually-hidden">Next</span>
                        </button>
                    </div>

                </div>
            </div>
        </div>
    </section>

    <br><br>

</body>