<body>

    <div class="container text-center">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <img src="/assets/images/quiet-near-a-little-stream/quiet-by-a-river-lg.gif" class="img-fluid">
                <audio loop #audioRef [src]="audioSrc"></audio>
                <h4>Everybody should be quiet near a little stream and listen.</h4>
            </div>
            <div class="col-md-2"></div>

        </div>

        <br><br>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                @if (!playing) {<button class="btn btn-outline-dark play-button" (click)="playAudio()">Play</button>}
                @if (playing) {<button class="btn btn-outline-dark pause-button" (click)="pauseAudio()">Pause</button>}
            </div>
            <div class="col-md-2"></div>
        </div>

        <br><br>

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <p><b>Inspired by Maria Popova's <a href="https://www.themarginalian.org/" target="_blank">The
                            Marginalian</a> and my brother Lachie's project, Path to Peace.</b></p>
                <p><a href="https://www.themarginalian.org/2013/07/25/ruth-krauss-maurice-sendak-open-house-for-butterflies/"
                        target="_blank"> Open House for Butterflies: Ruth Krauss's Final and Loveliest Collaboration
                        with Maurice Sendak</a> - 25/07/2013</p>
                <p><a href="https://www.themarginalian.org/2018/05/16/olivia-laing-to-the-river/" target="_blank">Life,
                        Loss, and the Wisdom of Rivers</a> - 16/05/2018</p>
                <p>Thanks to <a href="https://pixelartvillage.com/" target="_blank">Pixel Art Village</a> for converting the image to pixels.</p>
                <p>Thanks to <a href="https://www.pixilart.com/" target="_blank">Pixilart</a> for providing the tools to attempt this animation.</p>
                <p>Sound by <a
                        href="https://pixabay.com/users/freesound_community-46691455/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=25614"
                        target="_blank">freesound_community</a>
                    from <a
                        href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=25614"
                        target="_blank">Pixabay</a>
                </p>

            </div>
            <div class="col-md-2"></div>
        </div>

        <br><br>
    </div>

</body>