<body>
    <div class="d-flex flex-column">
        <div class="container text-center">
            <div>
                <img src="/assets/images/quiet-near-a-little-stream/quiet-by-a-river-pixelated.gif" class="img-fluid">
                <audio autoplay loop>
                    <source src="/assets/audio/quiet-near-a-little-stream/water-small-stream-25614.mp3"
                        type="audio/mpeg">
                </audio>
            </div>
            <br>

            <div>
                <h4>Everybody should be quiet near a little stream and listen.</h4>
            </div>
            <br>
            
            <div><a href="#credits" class="btn btn-outline-secondary btn-sm">See Credits</a></div>

            
            <br>
        </div>

        <div class="container text-center" id="credits">

            <p>Inspired by Maria Popova's <a href="https://www.themarginalian.org/" target="_blank"><i>The
                        Marginalian</i></a>.
            <p><a href="https://www.themarginalian.org/2013/07/25/ruth-krauss-maurice-sendak-open-house-for-butterflies/"
                    target="_blank"> Open House for Butterflies: Ruth Krauss's Final and Loveliest Collaboration
                    with Maurice Sendak</a> - 25/07/2013</p>
            <p><a href="https://www.themarginalian.org/2018/05/16/olivia-laing-to-the-river/" target="_blank">Life,
                    Loss, and the Wisdom of Rivers</a> - 16/05/2018</p>


            <p>Sound by <a
                    href="https://pixabay.com/users/freesound_community-46691455/?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=25614">freesound_community</a>
                from <a
                    href="https://pixabay.com//?utm_source=link-attribution&utm_medium=referral&utm_campaign=music&utm_content=25614">Pixabay</a>
            </p>
        </div>
            <br><br>
    </div>



</body>