
body {
  background: #feecb2;
  /* font-family: roboto; */
  display: flex;
  align-items: flex-start;
  justify-content: center; 
  text-align: center;
  min-height: 100vh;
}

a {
  text-decoration: underline;
  color: black;
}

img {
  width: 500px;
}

audio {
  display: none; /* Hide native controls */
}

.pause-button {
  padding: 10px 20px;
  background-color: #d32f2f;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.play-button {
  padding: 10px 20px;
  background-color: #2fd348;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}