<body>

    <div class="container text-center">

        <div class="row">
            <div class="col-md-2"></div>
            <div class="col">
                <div class="about">
                    <h3>☀️ 🌧️ ☁️</h3>
                    <h4>What is this?</h4>
                    <p>I like what the good people at the <a href="http://www.bom.gov.au/" target="_blank">Bureau of
                            Meterology</a> do.
                        This is an attempt at butchering their excellent work using their API, while putting a
                        distinctly Australian
                        flavour on it.</p>
                    <br>
                    <h4>Why?</h4>
                    <p>I had some time between punching darts and beers.</p>
                    <br>
                    <h4><a href="https://www.theguardian.com/australia-news/2022/oct/19/bom-rebranding-logo-cost-220k-australia-weather-bureau-of-meteorology-name-change-tanya-plibersek"
                            target="_blank">The Bureau or BOM?</a></h4>
                    <p>BOM.</p>
                    <br>
                    <h4>Cheers to the following cobbas</h4>
                    <p></p>
                    <ul>
                        <li>Me brain</li>
                        <li><a href="https://en.wikipedia.org/wiki/Tim_Berners-Lee" target="_blank">Sir Timothy John
                                Berners-Lee</a>
                        </li>
                        <li><a href="http://www.bom.gov.au/" target="_blank">Bureau of Meterology</a></li>
                        <li>Me parents</li>
                        <li><a href="https://stackoverflow.com/" target="_blank">Stack Overflow</a></li>
                        <li><a href="https://codepen.io/magnificode" target="_blank">Magnificode for a bitta the CSS</a>
                        </li>
                        <li>Me keyboard</li>
                        <li><a href="https://codecraft.tv/courses/angular/quickstart/nesting-components-and-inputs/"
                                target="_blank">Asim Hussain for the cheeky tour through Angular &#64;Inputs and
                                &#64;Outputs</a></li>
                        <li><a href="http://www.wanowandthen.com/slang.html" target="_blank">This wacky webby for
                                pluggin' me knowledge
                                gaps on Aussie slang</a></li>
                        <li>Weather</li>
                        <li><a href="https://slll.cass.anu.edu.au/centres/andc/meanings-origins/all"
                                target="_blank">This not-so-wacky
                                webby for further pluggin' of slang gaps</a></li>
                        <li><a href="https://www.youtube.com/watch?v=ufKSevWuiI4" target="_blank">The Academy</a></li>
                        <li>Multiple Reddit users <a
                                href="https://www.reddit.com/r/australia/comments/15gxbrs/bogan_of_meteorology_weather_served_up_by_the_bom/"
                                target="_blank">for their excellent suggestions</a></li>
                    </ul>
                    <br>
                    <h4>Yeah, cheers mate</h4>
                    <p>Yeah mate, cheers.</p>
                    <br><br>
                </div>
            </div>
            <div class="col-md-2"></div>
        </div>
    </div>

    

</body>